body {
    background: $white;
    font-family: $font-family-archivo;
}

main {
    flex-grow: 1;
    width: 0;
}

.page-title {
    border-bottom: 2px solid $red;
}

.table-search-container {
    bottom: 0;
    right: 0;
    padding: inherit;
    width: 65%;
}
