body {
    background: $white;
    font-family: $font-family-archivo;
}

#wrapper {
    display: flex;

    @media screen and (max-width: $bp-md) {
        display: block;
        position: relative;
    }
}

main {
    flex-grow: 1;
    width: 0;
    //height: 100000px;

    @media screen and (max-width: $bp-md) {
        flex-grow: unset;
        width: 100%;
    }
}

.page-title {
    border-bottom: 2px solid $red;
}

.table-search-container {
    bottom: 0;
    right: 0;
    padding: inherit;
    width: 65%;
}

.test-info-table {
    min-width: 320px;
}

.login-page-bg {
    min-height: 100vh;
}
