#sidebar-wrapper {
    width: 180px;
    padding: 2rem 0;
    min-height: 100vh;
    position: sticky;
    z-index: 99;
    background: $darkBlue;

    .sidebar-heading {
        padding: 0.75rem 1.25rem;
        color: $white;
        text-decoration: none;
    }

    a {
        text-decoration: none!important;
    }

    .list-group-item {
        background: none;
        color: $white;
        border-color: $brightCyan;
    }

    .list-group-item:hover {
        background: $midBlue;
    }

    ion-icon {
        font-size: 20px;
        vertical-align: text-top;
    }
}

#sidebar-wrapper.collapsing {
    min-height: 100vh;
    height: unset !important;
}
