#sidebar-wrapper {
    min-width: 180px;
    position: relative;
    z-index: 99;

    @media screen and (max-width: $bp-md) {
        position: absolute;
        top: 50px;
        min-width: 100%;
        min-height: calc(100% - 50px);
        background: $darkBlue;
    }

    .sidebar-placeholder {
        position: static;
        min-height: 100%;

        @media screen and (max-width: $bp-md) {
            display: none;
        }
    }

    .sidebar {
        position: fixed;
        top: 0;
        background: $darkBlue;
        min-width: inherit;
        height: 100vh;
        padding: 50px 0;

        @media screen and (max-width: $bp-md) {
            position: relative;
            width: 100%;
            text-align: center;
            padding: 2rem 2rem;
            height: unset;
        }

        .sidebar-heading {
            padding: 0.75rem 1.25rem;
            color: $white;
            text-decoration: none;
        }

        a {
            text-decoration: none!important;
        }

        .list-group-item {
            background: none;
            color: $white;
            border-color: $brightCyan;
        }

        .list-group-item.active {
            background: darken($midBlue, 10%);
        }

        .list-group-item:hover {
            background: $midBlue;
        }

        .sidebar-icon {
            font-size: 1.2rem;
            margin-right: 0.5rem;
            vertical-align: middle;
        }

        .sidebar-text {
            vertical-align: middle;
        }
    }
}

#sidebar-wrapper.collapsing {
    display: none;
}
