#topbar {
    position: fixed;
    width: 100%;
    box-shadow: 0 0.5rem 1rem #bababa;
    background-color: $white;
    display: flex;
    align-items: center;
    height: 50px;

    @media screen and (max-width: $bp-md) {
        position: relative;
    }

    .sidebar-collapse-button {
        background-color: $midBlue;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        padding: 0.6rem;
        color: white;
        width: 50px;
        height: 50px;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: darken($midBlue, 10%);
        }
    }
}
